*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    -ms-user-select: none;
        user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;

    @media only screen and (max-width: 900px) {
        font-size: 55.5%;
    }

    @media only screen and (max-width: 600px) {
        font-size: 50%;
    }
}

.container {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        ) [center-end] minmax(6rem, 1fr) [full-end];

    grid-template-rows: 7rem 80vh repeat(2, 100vh) 80vh 100vh max-content;
    align-items: center;

    @media only screen and (max-width: 900px) {
        grid-template-rows: 7rem repeat(4, max-content) 80vh max-content;
    }
}
