$color-primary: #6399c6;
$color-primary-dark: #517bb2;

$color-secondary: #101d2c;

$color-grey-light-1: #f6f8f9;
$color-grey-light-2: rgb(170, 170, 170);

$color-grey-dark-1: #3a4254;
$color-grey-dark-2: #4b5260;

// Font families
$display-font-family: 'Josefin Sans', sans-serif;
$primary-font-family: 'Nunito', sans-serif;